@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,700&display=swap');


// FONT
$default-font-size: 1.5rem;
$small-font-size: 1.2rem;
$large-font-size: 2rem;
// COLOR
$colorBgPrimary: #1e213f;
$colorBgSecondary: #161932;
$colorWhite: #ffffff;
$colorLightBlue: #d7e0ff;
$colorLightGrey: #eff1fa;