// Dynamic font color for the Timer

.colorRed {
  --colorPrimary: #f87070;
}
.colorBlue {
  --colorPrimary: #70f3f8;
}
.colorPurple {
  --colorPrimary: #d881f8;
}

.fontKumbh {
  --fontKumbh: 'Kumbh Sans', sans-serif;
}

