.colorRed {
  --colorPrimary: #f87070;
}

.colorBlue {
  --colorPrimary: #70f3f8;
}

.colorPurple {
  --colorPrimary: #d881f8;
}

.darkTheme {
  --colorWhite: #ffffff;
  --colorLightBlue: #d7e0ff;
  --colorLightGrey: #eff1fa;

  --colorBgPrimary: #1e213f;
  --colorBgSecondary: #161932;
}

.lightTheme {
  --colorWhite: #ffffff;
  --colorLightBlue: #d7e0ff;
  --colorLightGrey: #eff1fa;

  --colorBgPrimary: #1e213f;
  --colorBgSecondary: #161932;
}
